.headerwrapper {

    width: 100%;
    background-color:#96671f;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navUL {
    display: flex;



}


.navLI {
    list-style: none;



}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 60px;
    height: 90px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.hero {
    height: 100vh;
    background:#96671f,url(/img/pexels-andrea-piacquadio-974911.jpg);
    background-position:top center;
    background-size: cover;
    position: relative;
   

}

.logotext {
    font-family: 'Dancing Script', cursive;


}

.logotext {
    font-family: 'Dancing Script', cursive;


}

.title{
position: absolute;
top: 40%;
left: 10%;
}

.cta{
top: 42%;
left: 10%;
position: absolute;


}